{% extends 'base.html.twig' %}


{% block body %}
    <br>
    <div class="bg-black ">
        <div class="text-white">

            {# CARTE GRAPHIQUE JUMBOTRON #}
            <div class="jumbotron jumbotron-fluid">
                <div class="container hero-text">
                    <h1 style="color:#91e70d">NVIDIA GEFORCE RTX 30 Series</h1>
                    <p class="lead" style="font-weight: bold;">The revolution of gaming.</p>
                </div>
            </div>

            <!-- CARTE GRAPHIQUE CADRE -->
            <div class="row row-cols-4 row-cols-md-7 g-4" style="margin-block: auto; margin: auto">
                <div class="col">
                    <div class="card-header border shadow-0">
                        <img
                                src="https://assets.nvidia.partners/images/png/nvidia-geforce-rtx-3090.png"
                                class="card-img-top"
                                alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title" style="color: #76FF03">GEFORCE RTX 3090</h5>
                            <p class="card-text" style="color: #FFFFFF">
                                > Système de refroidissement: Fan<br>
                                > Fréquence Boost: 1.70 GHz<br>
                                > Taille de la mémoire GPU: 24 GB<br>
                                À PARTIR DE 1.549,00 €<br>
                                <button class="btn btn-outline-success mt-2" style="color: #76FF03" type="submit">
                                    Acheter
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-header border shadow-0">
                        <img
                                src="https://assets.nvidia.partners/images/png/3080-ti-back-300x198.png"
                                class="card-img-top"
                                alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title" style="color: #76FF03">NVIDIA GEFORCE RTX 3080 Ti</h5>
                            <p class="card-text" style="color: #FFFFFF">
                                > Système de refroidissement: Fan<br>
                                > Fréquence Boost: 1.67 GHz<br>
                                > Taille de la mémoire GPU: 12 GB<br>
                                À PARTIR DE 1.119,00 €<br>
                                <button class="btn btn-outline-success mt-2" style="color: #76FF03" type="submit">
                                    Acheter
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-header border shadow-0">
                        <img
                                src="https://assets.nvidia.partners/images/png/nvidia-geforce-rtx-3080.png"
                                class="card-img-top"
                                alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title" style="color: #76FF03">GEFORCE RTX 3080</h5>
                            <p class="card-text" style="color: #FFFFFF">
                                > Système de refroidissement: Fan<br>
                                > Fréquence Boost: 1.71 GHz<br>
                                > Taille de la mémoire GPU: 10 GB<br>
                                À PARTIR DE 719,00 €<br>
                                <button class="btn btn-outline-success mt-2" style="color: #76FF03" type="submit">
                                    Acheter
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-header border shadow-0">
                        <img
                                src="https://assets.nvidia.partners/images/png/3070-ti-back-300x198.png"
                                class="card-img-top"
                                alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title" style="color: #76FF03">GEFORCE RTX 3070 Ti</h5>
                            <p class="card-text" style="color: #FFFFFF">
                                > Système de refroidissement: Fan<br>
                                > Fréquence Boost: 1.77 GHz<br>
                                > Taille de la mémoire GPU: 8 GB<br>
                                À PARTIR DE 619,00 €<br>
                                <button class="btn btn-outline-success mt-2" style="color: #76FF03" type="submit">
                                    Acheter
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-header border shadow-0">
                        <img
                                src="https://assets.nvidia.partners/images/png/nvidia-geforce-rtx-3070.png"
                                class="card-img-top"
                                alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title" style="color: #76FF03">GEFORCE RTX 3070</h5>
                            <p class="card-text" style="color: #FFFFFF">
                                > Système de refroidissement: Fan<br>
                                > Fréquence Boost: 1.73 GHz<br>
                                > Taille de la mémoire GPU: 8 GB<br>
                                À PARTIR DE 519,00 €<br>
                                <button class="btn btn-outline-success mt-2" style="color: #76FF03" type="submit">
                                    Acheter
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-header border shadow-0">
                        <img
                                src="https://assets.nvidia.partners/images/png/nvidia-geforce-rtx-3060-ti.png"
                                class="card-img-top"
                                alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title" style="color: #76FF03">GEFORCE RTX 3060 Ti</h5>
                            <p class="card-text" style="color: #FFFFFF">
                                > Système de refroidissement: Fan<br>
                                > Fréquence Boost: 1.67 GHz<br>
                                > Taille de la mémoire GPU: 8 GB<br>
                                À PARTIR DE 419,00 €<br>
                                <button class="btn btn-outline-success mt-2" style="color: #76FF03" type="submit">
                                    Acheter
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-header border shadow-0">
                        <img
                                src="https://asset.msi.com/resize/image/global/product/product_16104439091980d8c8b7e0e21310e8b85b97cab353.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png"
                                class="card-img-top"
                                alt="..."
                                style="height: 275px"/>
                        <div class="card-body">
                            <h5 class="card-title" style="color: #76FF03">GEFORCE RTX 3060</h5>
                            <p class="card-text" style="color: #FFFFFF">
                                > Système de refroidissement: Fan<br>
                                > Fréquence Boost: 1.78 GHz<br>
                                > Taille de la mémoire GPU: 12 GB<br>
                                À PARTIR DE 579,00 €<br>
                                <button class="btn btn-outline-success mt-2" style="color: #76FF03" type="submit">
                                    Acheter
                                </button>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ---------------------- -->

        </div>
    </div>

{% endblock %}