{% extends 'base.html.twig' %}


{% block body %}

    {# CAREERS #}
    <div class="careers careers-fluid">
        <div class="container hero-text gauche">
            <h1 style="color:#91e70d">UN LIEU DE TRAVAIL ABSOLUMENT UNIQUE</h1>
            <button class="lead btn btn-outline-success mt-2" style="font-weight: lighter; color: #FFFFFF" type="submit" style="color: #76FF03">TROUVEZ VOTRE NOUVEL EMPLOI</button>
        </div>
    </div>

{% endblock %}