{% extends 'base.html.twig' %}


{% block body %}

    <div class="title text-center">
        <div class="fondation">
            <div class="fondation-bandeau">
            <div class="titre">

            </div>
            <div class="fondation-img">

            </div>
        </div>
        </div>
    </div>
{% endblock %}