{% extends 'base.html.twig' %}


{% block body %}

    <!--    <div class="title text-center">
            <div class="fondation">
                <div class="fondation-bandeau">
                <div class="titre">

                </div>
                <div class="fondation-img">

                </div>
            </div>
            </div>
        </div> -->

    <div class="title text-center">
        <div class="investor">


            <div class="investor-img">

                <h1>NVIDIA A INVENTÉ LE GPU</h1>

                <p>
                    NVIDIA A INVENTÉ LE GPU
                    Depuis notre invention du GPU en 1999,<br> nous avons stimulé la croissance des jeux vidéo sur PC,
                    redéfini les techniques modernes d’infographie et révolutionné<br> les systèmes de calcul parallèle.
                    Aujourd’hui, alors que le Deep Learning transforme notre monde comme aucun autre modèle de calcul
                    informatique,<br> les GPU NVIDIA constituent le moteur d’une nouvelle ère de l’intelligence
                    artificielle
                    (IA) et aident les ordinateurs,<br> les drones et les véhicules autonomes à mieux analyser,
                    visualiser et comprendre le monde qui nous entoure.
                </p>
            </div>
            <div class="bg-white">
                <div class="container investor-white">
                    <h1 class="text-center">EMPOWERING NVIDIANS TO GIVE BACK</h1>

                    <p class="text-center">NVIDIANs share a passion for supporting the communities in which we live and
                        do business. Through our new Inspire 365 initiative, the NVIDIA Foundation helps turn this
                        passion for giving into action.

                        Our aim is to empower all NVIDIANs to get involved in their communities. Inspire 365 makes it
                        easy.
                    </p><br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}