{% extends 'base.html.twig' %}


{% block body %}

    <div class="title text-center">
        <div class="investor">


        <div class="investor-img">

            <h1>The world leader <br> in accelerated computing</h1>

            <p>
                NVIDIA is the pioneer of
                GPU-accelerated computing. We specialize in products and platforms <br>for the large,
                growing markets of gaming, professional visualization, data center, and automotive.<br>

                Our creations are loved by the most demanding computer users in the world – gamers,<br> designers,
                and scientists. <br>And our work is at the center of the most consequential mega-trends in technology.<br>
            </p>
        </div>

            <div class="investor-white">
            <h1>Corporate profile</h1>

            <p>
                NVIDIA is the pioneer of
                GPU-accelerated computing. <br> We specialize in products and platforms for the large,
                growing <br> markets of gaming, professional visualization, data center, and automotive.<br>

                Our creations are loved by the most demanding computer users<br> in the world – gamers, designers,
                and scientists.<br>  And our work is at the center of the most consequential mega-trends in technology.
            </p>
            </div>

        </div>
    </div>
{% endblock %}