{% extends 'base.html.twig' %}


{% block body %}

    <div class="content_par parsys bg-white">
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-75 p-b-30 tab-p-t-45 tab-p-b-45 mob-p-t-15 mob-p-b-15  ">
                <div id="sectionwrapper_copyc50493af_5124_43c5_87ba_862825ccf161" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp48343fa3_333d_4f2e_8794_ae95f599b30f"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-0 mob-p-b-0     ">
                                        <div class="text-center tab-text-center ">

                                            <br><br><br>
                                            <h1 class="title color-brand-green" style="color: #76b900">Informations juridiques</h1>

                                            <br><br>
                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-15 tab-p-b-45 mob-p-t-15 mob-p-b-15  ">
                <div id="sectionwrapper697ceda7_aab7_4933_b63a_295ae9d536b2" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcompcbd485ac_701c_4b8b_a5c0_db12e484b864"
                                         class="general-container-text    wid-default p-t-0 p-b-0             ">
                                        <div class="text-left tab-text-center ">


                                            <div class="body-text description color-black">


                                                <p>VEUILLEZ LIRE CES CONDITIONS ATTENTIVEMENT AVANT D'UTILISER CE
                                                    SITE.<br></p>
                                                <p>Les informations contenues sur ce site Web (le « Site ») sont
                                                    fournies par NVIDIA Corporation (« NVIDIA ») pour offrir un service
                                                    à ses clients et ne peuvent être utilisées que dans un but
                                                    informatif. Vous ne pourrez effectuer les téléchargements qu'en un
                                                    seul exemplaire, conformément aux dispositions suivantes. En
                                                    téléchargeant des éléments sur ce site, vous acceptez de vous
                                                    conformer aux présentes conditions, à moins que ceux-ci ne soient
                                                    accompagnés d'un accord de téléchargement distinct, auquel cas les
                                                    termes de ce nouvel Accord régiront vos droits à utiliser ces
                                                    éléments. Si vous ne les acceptez pas, n'utilisez pas le site et ne
                                                    téléchargez aucune information qui pourrait y figurer.<br></p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_1479426754b15edd4e_03dc_44d5_9aa5_49ee99933444" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_cc4521d7c_feee_4d43_833d_89289ecc53ff"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-0 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">DÉCLARATIONS PROSPECTIVES</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>Les informations contenues sur ce site Internet ou associées à
                                                    celui-ci, à l'exception des déclarations ou qualifications reposant
                                                    sur des faits historiques, peuvent contenir des déclarations
                                                    prospectives. Ces déclarations prospectives se fondent sur nos
                                                    attentes, estimations et prévisions actuelles concernant notre
                                                    secteur, les convictions de la direction et certaines hypothèses que
                                                    nous avons avancées. Ces déclarations prospectives sont exposées à
                                                    un certain nombre de risques et d'incertitudes notables et nos
                                                    résultats effectifs peuvent différer. Si vous souhaitez passer en
                                                    revue les facteurs qui peuvent influer sur nos résultats et nos
                                                    activités à l'avenir, veuillez consulter notre Rapport annuel sur le
                                                    Formulaire 10-K, les Rapports trimestriels ultérieurs sur le
                                                    Formulaire 10-Q, les Rapports actuels les plus récents sur le
                                                    Formulaire 8-K ainsi que les autres documents déposés auprès de la
                                                    Securities and Exchange Commission. NVIDIA n'assume aucune
                                                    obligation de révision ou de mise à jour des déclarations
                                                    prospectives.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_19788338250fd4600f_cfe6_4a35_87ab_83cd9700f3f3" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_c73d72b9d_c316_4bef_86a1_3bef47a503bc"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">INFORMATIONS SUR LES MARQUES
                                                DEPOSEES</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>NVIDIA, le logo NVIDIA, 3D Play, 3D Vision Pro, 4-Plus-1, APEX,
                                                    BattleBox, BFGD, Big Format Gaming Display, CUDA, Dabbler, DALI, DGX
                                                    Station, DirectStylus, DirectTouch, Game Ready, GameStream, Geared
                                                    For Gaming, GeForce, GeForce Experience, GeForce GTX, GeForce RTX,
                                                    GPUDirect, G-SYNC, GRID LINK, GRID VGX, IceClear, ICERA, I AM AI,
                                                    Iray, Jetson, Jetson AGX Xavier, Kepler, Made To Game, Maximus,
                                                    Mental Ray, NSIST on NVIDIA, nTersect, NVIDIA 3D Vision, NVIDIA AGX,
                                                    NVIDIA AutoWorks, NVIDIA BATTERY BOOST, NVIDIA BFGD, NVIDIA Big
                                                    Format Gaming Display, NVIDIA Business Platform, NVIDIA Clara,
                                                    NVIDIA DALI, NVIDIA Denver, NVIDIA DesignWorks, NVIDIA DGX, NVIDIA
                                                    DGX POD, NVIDIA DGX Superpod, NVIDIA DRIVE, NVIDIA DRIVE Autopilot,
                                                    NVIDIA DRIVE Constellation, NVIDIA DRIVE Hyperion, NVIDIA DRIVE Sim,
                                                    NVIDIA GameWorks, NVIDIA GPU BOOST, NVIDIA GPU CLOUD, NVIDIA GRID,
                                                    NVIDIA GRID vGPU, NVIDIA G-SYNC, NVIDIA HGX, NVIDIA Holodeck, NVIDIA
                                                    IndeX, NVIDIA Isaac, NVIDIA Isaac SDK, NVIDIA Isaac SIM, NVIDIA
                                                    Jetpack, NVIDIA Kepler, NVIDIA Maglev, NVIDIA Maximus, NVIDIA
                                                    Maxwell, NVIDIA nForce, NVIDIA OptiX, NVIDIA Orin, NVIDIA
                                                    PartnerForce, NVIDIA PureAudio, NVIDIA Quadro, NVIDIA RTX, NVIDIA
                                                    SHIELD, NVIDIA SLI, NVIDIA SLI Ready, NVIDIA Slide Cover, NVIDIA
                                                    SPOT, NVIDIA Tegra, NVIDIA Turing, nView, NVLink, NVS, NVSwitch,
                                                    OpenACC, Openautomate, Optimus, OptiX, Pascal, Pegasus, PGI, PGI
                                                    Visual Fortran, PhysX, Quadro, Quadro Experience, Quadro RTX,
                                                    RealityServer, SceniX, Shadowplay, SHIELD, SLI, Surround, Tegra,
                                                    Tegra NOTE, TegraZone, TensorRT, Tesla, The Way It's Meant to be
                                                    Played, TWIMTBP, ULMB, vGPU, Vibrante, VisionWorks, VirtualLink,
                                                    VRLync et Xavier sont des marques commerciales et/ou des marques
                                                    déposées de NVIDIA Corporation aux États-Unis et/ou dans d’autres
                                                    pays. Tous les autres noms d’entreprises ou de produits sont des
                                                    marques commerciales de leurs propriétaires respectifs.&nbsp;
                                                    &nbsp;</p>
                                                <p>Les marques commerciales de NVIDIA peuvent être utilisées
                                                    publiquement avec la permission de NVIDIA uniquement, et aucune
                                                    disposition du présent Contrat ne sera réputée accorder une telle
                                                    permission. L'utilisation équitable des marques commerciales de
                                                    NVIDIA dans la publicité et la promotion des produits NVIDIA
                                                    nécessite une mention appropriée.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_173231523291acf159_0383_4971_9a56_474b80aece7e" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_c7d337c75_6713_418d_bdcc_364be3823963"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">INFORMATIONS SUR LA PERFORMANCE</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>Les tests de performance ainsi que les évaluations sont mesurés à
                                                    l'aide de systèmes et/ou de composants informatiques spécifiques et
                                                    reflètent la performance approximative des produits NVIDIA telle
                                                    qu'elle est mesurée par ces tests. Toute différence de conception ou
                                                    de configuration logicielle ou matérielle du système peut affecter
                                                    la performance réelle.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_15869953468a46d17c_afd2_4399_ae3d_e5c9fee1a126" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_c513ea61f_071e_445d_95f9_def055974bd9"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">LICENCE UNIQUE</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>Les éléments de ce Site sont protégés par des droits d'auteur et
                                                    toute utilisation non autorisée desdits éléments de ce site peut
                                                    violer des droits d'auteur, des marques commerciales ou d'autres
                                                    lois. Vous avez autorisation de télécharger un exemplaire des
                                                    informations ou logiciels (« les Eléments ») présents sur les sites
                                                    NVIDIA sur un seul ordinateur, pour une utilisation interne
                                                    personnelle et non-commerciale, à moins qu'une licence ne donne
                                                    spécifiquement le droit d'agir autrement, licence accordée par
                                                    NVIDIA par écrit, ou tel qu'autorisé par tout terme de licence qui
                                                    accompagne ou qui est fournie avec des Eléments individuels. La
                                                    présente constitue une licence, et non un transfert de titre, et est
                                                    sujette aux restrictions suivantes : vous ne pouvez pas (a) modifier
                                                    les Documents ou les utiliser pour tout objectif commercial, ou tout
                                                    affichage, présentation, vente ou location, à destination d'un
                                                    public ; (b) décompiler, effectuer une ingénierie inverse ou
                                                    désassembler les Eléments logiciels sauf dans le cadre autorisé par
                                                    une loi applicable ou à moins qu'une licence n'autorise
                                                    spécifiquement de faire autrement, licence accordée par NVIDIA par
                                                    écrit, ou encore tel qu'autorisé par tout terme de licence qui
                                                    accompagne ou est fournie avec des Eléments individuels ; (c)
                                                    supprimer tout droit d'auteur ou autre notification de propriété des
                                                    Eléments ; (d) transférer les Eléments à toute autre personne ou
                                                    entité. En outre, vous acceptez d'empêcher toute copie non autorisée
                                                    des Eléments.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_155283044c473a9d2_6878_43d5_a910_eecefd9ef3ea" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_ca17e439e_62be_46f5_8ad8_8372d9c27cd6"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">PROPRIETE DES ELEMENTS</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>Les éléments sont protégés par droit d'auteur et par les dispositions
                                                    des traités et lois internationaux sur les droits d'auteur. Ils ne
                                                    peuvent être copiés, reproduits, modifiés, publiés, détéléchargés,
                                                    envoyés, transmis ou distribués de quelque manière que ce soit, en
                                                    l'absence de l'autorisation préalable écrite de NVIDIA. A
                                                    l'exception de ce qui est expressément indiqué à la présente, NVIDIA
                                                    et ses fournisseurs ne vous accordent aucun droit, express ou
                                                    implicite dans le cadre de quelque brevet, droit d'auteur, marque
                                                    commerciale, secret commercial ou tout autre droit de propriété
                                                    intellectuelle ou droit propriétaire que ce soit.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_7903350427a97f01c_28c7_4040_81e8_f208dc640527" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_c62873ca0_bb87_4500_909e_91a2963ec24c"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">RÉCLAMATIONS POUR ATTEINTE AU DROIT
                                                D’AUTEUR</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>NVIDIA et ses sociétés affiliées respectent la propriété
                                                    intellectuelle d’autrui. Si vous pensez que votre travail a été
                                                    copié d’une manière qui constitue une atteinte au droit d’auteur,
                                                    nous vous invitons à suivre notre <a
                                                            href="https://www.nvidia.com/en-us/about-nvidia/copyright-claims/"
                                                            style="color: rgb(118,185,0);">Note d’information et
                                                        procédure de réclamation pour atteinte au droit d’auteur</a>.
                                                    &nbsp;<br></p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_15404172485cf280c7_4562_4494_abb1_9bc30103e4db" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_c68d2f8d8_4860_48be_a269_db823c8369b6"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">RESILIATION DE LA PRESENTE LICENCE</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>NVIDIA peut résilier la présente licence à tout moment si vous rompez
                                                    les termes du présent Accord. A la résiliation, vous devrez
                                                    immédiatement détruire les Eléments et certifier à NVIDIA que vous
                                                    avez procédé dans ce sens.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_297894367d51f5fb4_00ae_4c9a_8f80_5e60799696c3" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_c1364a4ea_1651_45ff_b1a6_0a037d2407e6"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">LIMITATION DE RESPONSABILITE</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>LES ELEMENTS SONT FOURNIS « EN L'ETAT » SANS GARANTIE EXPRESSE OU
                                                    IMPLICITE DE QUELQUE SORTE QUE CE SOIT, Y COMPRIS DES GARANTIES DE
                                                    VALEUR MARCHANDE, DE TITRE, DE NON-INFRACTION AUX DROITS DE
                                                    PROPRIETE INTELLECTUELLE, OU D'ADAPTABILITE A TOUT OBJECTIF
                                                    PARTICULIER. EN AUCUN CAS, NVIDIA OU SES FOURNISSEURS NE POURRONT
                                                    ETRE TENUS RESPONSABLES DE TOUT DOMMAGE QUEL QU'IL SOIT (Y COMPRIS,
                                                    MAIS SANS S'Y LIMITER, DES DOMMAGES POUR PERTES DE BENEFICES,
                                                    INTERRUPTION D'ACTIVITE, PERTE D'INFORMATIONS) ISSUS DE
                                                    L'UTILISATION OU DE L'INCAPACITE A UTILISER LES ELEMENTS, ET CE MEME
                                                    SI NVIDIA A ETE AVERTI DE LA POSSIBILITE DE CES DOMMAGES. CERTAINES
                                                    JURIDICTIONS INTERDISANT L'EXCLUSION OU LA LIMITATION DE
                                                    RESPONSABILITE POUR DES DOMMAGES INCIDENTS OU CONSECUTIFS, LA
                                                    LIMITATION CI-DESSUS PEUT NE PAS S'APPLIQUER A VOTRE CAS. NVIDIA ne
                                                    garantit pas l'exactitude ou le caractère complet des informations,
                                                    du texte, des graphiques, des liens ou d'autres objets contenus dans
                                                    ces éléments. NVIDIA peut réaliser des modifications à ces éléments
                                                    ou aux produits décrits à la présente, à tout moment sans
                                                    notification, mais ne s'engage en aucun cas à actualiser les
                                                    Eléments.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_1261367967c4859e13_28f1_4b7c_8b92_7159f9daf407" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_cdb6d836b_ba11_4dad_a26f_bf0dc39b509f"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">DROITS RESTREINTS POUR LE GOUVERNEMENT
                                                AMERICAIN</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>Si les éléments sont protégés par une licence du gouvernement
                                                    américain, les Eléments et la documentation relative constituent des
                                                    logiciels commerciaux et une documentation, tous deux développés
                                                    exclusivement par des fonds privés et (a) s'ils sont achetés par ou
                                                    au nom d'une organisation civile, seront sujets aux termes de cette
                                                    licence logicielle, tel que spécifié dans 48 C.F.R. 12.212 des
                                                    régulations d'acquisition fédérale et suivantes et (b) s'ils sont
                                                    acquis par ou au nom d'unités du Ministère de la Défense (le «
                                                    Ministère de la Défense ») seront sujets aux termes de cette licence
                                                    logicielle commerciale, tel que spécifié dans 48 C.F.R. 227.7202-2
                                                    et suivants du supplément aux régulations d'acquisition fédérale du
                                                    Ministère de la Défense. L'utilisation des Eléments émis par le
                                                    Gouvernement constitue la reconnaissance des droits de propriété de
                                                    NVIDIA sur eux.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_4299210022ac860ee_4226_4403_897f_f2bc3aed1da0" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_c62011f82_7f25_4bb1_bd1a_d208bb094387"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">ENVOIS DES UTILISATEURS</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>Tout élément, information ou autre communication que vous transmettez
                                                    ou envoyez sur ce Site sera considéré comme non-confidentiel et
                                                    non-propriétaire (les « Communications »). NVIDIA n'aura aucune
                                                    obligation relative à ces Communications. NVIDIA et ses concepteurs
                                                    auront tout loisir de copier, divulguer, distribuer, incorporer et
                                                    de toute autre manière utiliser les Communications et toute donnée,
                                                    image, son, texte et autres éléments qui y seraient intégrés pour
                                                    tout objectif commercial ou non. Il est interdit d'envoyer ou de
                                                    transmettre à partir de ce Site ou à sa destination tout élément
                                                    illégal, menaçant, diffamatoire, obscène, pornographique ou tout
                                                    autre élément qui pourrait violer toute loi de quelque juridiction
                                                    que ce soit.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_724348684954e9b95_6a11_464d_bf47_69d2aad4f09e" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_c88c48357_3a0d_4140_896e_c2ade07667d5"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">LIENS VERS D'AUTRES ELEMENTS</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>Les sites liés ne sont pas sous le contrôle de NVIDIA et NVIDIA ne
                                                    peut être tenu responsable du contenu de tout site lié ou de tout
                                                    lien contenu dans un site lié. NVIDIA se réserve le droit de
                                                    résilier tout lien ou programme de liaison à tout moment. NVIDIA ne
                                                    soutient pas les sociétés ou produits vers lesquels elle propose un
                                                    lien et se réserve le droit d'indiquer ceci sur ses pages Web. Si
                                                    vous décidez d'accéder à tout site tiers lié au présent Site, vous
                                                    le faites à vos risques et périls.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_3489985509f53cb67_0c54_4549_8d82_27ea87f9ab96" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_c7d851829_5337_4242_9ded_ae5b9f02b443"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">LOIS APPLICABLES</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>Ce site est contrôlé par NVIDIA à partir de son siège des Etats-Unis
                                                    d'Amérique. NVIDIA ne déclare en aucun cas que les Eléments de ce
                                                    site sont adaptés ou disponibles pour utilisation dans d'autres
                                                    lieux et leur accès est interdit à partir de territoires où leur
                                                    contenu serait illégal. Les personnes qui choisissent d'accéder à ce
                                                    Site à partir d'autres endroits le font de leur propre initiative et
                                                    sont responsables de la conformité avec les lois locales
                                                    applicables. Vous ne pouvez pas utiliser ou exporter les Eléments si
                                                    cela viole les lois et régulations américaines sur l'exportation.
                                                    Toute réclamation relative aux Eléments sera régie par le droit
                                                    positif interne de l'Etat de Californie. NVIDIA et vous-même
                                                    acceptez par la présente que tous les litiges issus du présent
                                                    Accord soient soumis à l'autorité d'instruction des tribunaux dont
                                                    la compétence de juridiction exclusive est celle des tribunaux
                                                    centraux et fédéraux du comté de Santa Clara, en Californie, et
                                                    l'une et l'autre partie acceptent par la présente la compétence
                                                    géographique et d'attribution des juridictions exclusives, centrales
                                                    et fédérales, du comté de Santa Clara.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-45 tab-p-t-0 tab-p-b-45 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_12966165621d893710_8230_43f7_b1c1_31ee49c14979" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_c65dfdf76_14c9_4a74_be68_eccdc1e6fffb"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-30 mob-p-b-0     ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-success " style="color: #76b900">GENERALITES</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>NVIDIA peut modifier ces Conditions à tout moment en actualisant ce
                                                    document. Il est conseillé de visiter cette page de temps à autre
                                                    pour prendre note des Conditions actualisées car elles s'imposent à
                                                    vous ; de plus, toute utilisation du Site constitue acceptation des
                                                    termes contenus dans la présente. Certaines dispositions de ces
                                                    Termes peuvent être supplantées par des notifications légales
                                                    expressément désignées ou par des conditions situées sur des pages
                                                    particulières de ce Site.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-0 p-b-75 tab-p-t-0 tab-p-b-75 mob-p-t-0 mob-p-b-15  ">
                <div id="sectionwrapper_18944925798fa166c2_8a10_4fe2_bdcf_532df23b3f96" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_cb2a189cf_7782_4ce7_bcc6_a7a76fefe939"
                                         class="general-container-text    wid-default p-t-0 p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-0 mob-p-b-0    no-space-description ">
                                        <div class="text-left tab-text-left mob-text-left">


                                            <div class="body-text description color-black">

                                                <br>
                                                <p>Date de dernière mise à jour : 26 mars 2019</p>
                                                <br>
                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>

                    <br><br><br>
                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>

    </div>
{% endblock %}