{% extends 'base.html.twig' %}


{% block body %}

    <div class="content_par parsys bg-white text-dark">
        <div class="rawHtml section">


            <div class=" p-t-0 p-b-0 lap-p-t-0 lap-p-b-0 mob-p-t-0 mob-p-b-0 tab-p-t-0 tab-p-b-0">


                <style>
                    #sub-brand {
                        visibility: hidden;
                        width: 0;
                    }

                    .columnLayout .row.vshield-divider .column:not(:first-child), .columnLayout .row.vshield-divider .column.right-column {
                        border-left: 2px solid #cccccc;
                    }

                    #ic-support .responsive-image, #ic-sales .responsive-image, #ic-partner .responsive-image {
                        max-height: 80px;
                    }

                    .brand-nav-left.fade.in {
                        display: none !important;
                    }

                    @media screen and (max-width: 767px) {
                        .columnLayout .row.vertical-divider .column:not(:first-child), .columnLayout .row.vpascal-divider .column:not(:first-child), .columnLayout .row.vshield-divider .column:not(:first-child) {
                            border-left: 0;
                        }
                    }

                    @media screen and (min-width: 1025px) {
                        .no-left-margin {
                            margin-left: -35px;
                        }

                        .navigation .global-nav .sub-brand-nav .brand-nav-left .sub-brand-item .dropdown-menu.bullet:before {
                            right: 152px !important;
                        }

                        .navigation .global-nav .sub-brand-nav .brand-nav-left .sub-brand-item .dropdown-menu {
                            right: -162px !important;
                        }
                    }
                </style>


            </div>
        </div>
        <div class="sectionWrapper parbase section">


            <section class="background-white p-t-105 p-b-60 tab-p-t-105 tab-p-b-30 mob-p-t-75 mob-p-b-15  ">
                <div id="sectionwrapperafe69591_67f3_4c33_b3d5_15587ad73a80" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomponentenhanced section">


                                    <div id="textcomponentenhance4cff4654_ff5f_4e5a_b8d1_9ab3aa6f2038">


                                        <div id="top"
                                             class="general-container-text small-12 mob-p-cozy medium-12 tab-p-cozy large-12 lap-p-cozy large-12 d-p-narrow  p-t-45 p-b-0  lap-p-t-45 lap-p-b-0  tab-p-t-45 tab-p-b-0  mob-p-t-45 mob-p-b-0 ">

                                            <div class="text-center lap-text-center tab-text-center mob-text-center">

                                                <br><br><br>
                                                <h1 class="title color-brand-green   h1 uppercase">How we Protect Your
                                                    Privacy</h1>
                                                <br>

                                                <h2 class="title color-black  h2 none">We promise to protect your
                                                    privacy and your data.</h2>

                                                <div class="description color-black  intro-copy-text">
                                                    <br>
                                                    <p>Our
                                                        <a href="https://www.nvidia.com/fr-fr/about-nvidia/privacy-policy/"
                                                           style="color: rgb(118,185,0);">NVIDIA Privacy Policy</a>
                                                        explains what data we collect and what we do with it. We never
                                                        sell your data.<br></p>
                                                    <p>If you have a registered NVIDIA account, you can change your
                                                        privacy settings at any time.</p>

                                                </div>

                                                <div class="text-button">
                                                    <div class="textCmpEnhancedButton-par parsys">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <!-- Horizontal divider Line Ends here --></div>
        <div class="rawHtml section">


            <div class=" p-t-0 p-b-0 lap-p-t-0 lap-p-b-0 mob-p-t-0 mob-p-b-0 tab-p-t-0 tab-p-b-0">


                <style>
                    #icon-size .image .imgwidth {
                        width: 120px;
                    }
                </style>


            </div>
        </div>
        <div class="sectionenhanced parbase section">


            <script type="text/javascript">

                NVIDIAGDC.funcQueue.addToQueue({
                    id: "sectionenhanced75d7ffbd_e6af_4b1f_9331_a907ec928884",
                    method: "sectionEnhancedComponent",
                    params: [{
                        imageDesktopUrl: ' ',
                        imageLaptopUrl: ' ',
                        imageTabletUrl: ' ',
                        imageMobileUrl: ' ',
                        secpageobpvalue: 'true',
                        sectionurl: '',
                        sectionurltarget: '_self',
                        secCustBgColor: ''
                    }]
                });
            </script>


            <!-- Horizontal divider Line Starts here -->


            <!-- Horizontal divider Line Ends here -->


        </div>
        <div class="sectionWrapper parbase section">


            <section class="background-body-copy p-t-75 p-b-45 tab-p-t-60 tab-p-b-30 mob-p-t-60 mob-p-b-15  ">
                <div id="sectionwrapper_167095586c73399bf_9f0c_4edd_a09a_8a08d8fe4f1f" class="general-container ">


                    <div class="large-12 large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="geforce"
                                         class="general-container-text    wid-default p-t-0 p-b-0             ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br><br>
                                            <h3 class="title color-brand-green " style="color: #76b900">GEFORCE</h3>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy57de2712_c4fa_46fe_a379_deedbde32341"
                                         class="general-container-text    wid-default p-t-15 p-b-0 tab-p-t-0   mob-p-t-15      no-space-description ">
                                        <div class="text-left tab-text-left mob-text-left">


                                            <div class="intro-copy-text description color-black">

                                                <br>
                                                <h5>GeForce Experience<br></h5>
                                                <br>
                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="textcomp section">


                                    <div id="textcomp_copy_184516673bd523_216c_4152_bd4a_1e7f58f65fa5"
                                         class="general-container-text    wid-default p-t-0 p-b-15             ">
                                        <div class="text-left tab-text-left mob-text-left">


                                            <div class="body-text description color-black">


                                                <p>GeForce Experience vous aide à configurer votre carte graphique pour
                                                    profiter de performances optimales dans vos jeux et vos applications
                                                    de création de contenu, mais aussi à utiliser des codes pour activer
                                                    des jeux gratuits et à bénéficier de mises à jour logicielles ou de
                                                    nouvelles fonctionnalités comme des outils pour enregistrer et
                                                    partager votre gameplay.</p>
                                                <p>Pour ce faire, nous avons besoin de connaître votre matériel PC et
                                                    vos logiciels de jeu ou de création de contenu (y compris leurs
                                                    paramètres, leur utilisation et leurs performances), votre
                                                    utilisation des fonctionnalités de GeForce Experience et votre
                                                    région géographique.</p>
                                                <p>Si vous acceptez de recevoir des recommandations, nous vous
                                                    proposerons des jeux, des applications et des récompenses qui
                                                    pourraient vous plaire. Si vous acceptez de partager des données
                                                    techniques, vous nous enverrez des journaux d’erreur qui nous
                                                    aideront à repérer et à corriger des bugs ou des problèmes
                                                    techniques. Vous pouvez configurer la collecte et l’utilisation de
                                                    vos données depuis la rubrique <a
                                                            href="https://www.nvidia.com/fr-fr/privacy-center/preferences?v=1"
                                                            style="color: rgb(118,185,0);">Paramètres de
                                                        confidentialité</a>.</p>

                                            </div>


                                        </div>
                                    </div>


                                </div>
                                <div class="textcomp section">


                                    <div id="textcomp_copy_copy_c49764b67_174a_4680_8a1c_1c9ac21992bb"
                                         class="general-container-text    wid-default p-t-15 p-b-0 tab-p-t-15   mob-p-t-15      no-space-description ">
                                        <div class="text-left tab-text-left mob-text-left">


                                            <div class="intro-copy-text description color-black">

                                                <br>
                                                <h5>GeForce NOW<br></h5>
                                                <br>
                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="textcomp section">


                                    <div id="textcomp_copy_184516_996380316ffef11ac_4033_4e88_a48e_c6f22af1d52f"
                                         class="general-container-text    wid-default p-t-0 p-b-15             ">
                                        <div class="text-left tab-text-left mob-text-left">


                                            <div class="body-text description color-black">


                                                <p>GeForce NOW (GFN) est un service de Cloud Gaming qui vous permet de
                                                    jouer à vos jeux PC sur vos appareils Mac, PC, SHIELD et
                                                    mobiles.</p>
                                                <p>Pour permettre à notre service de streamer vos jeux sur votre machine
                                                    avec les meilleures performances et une qualité optimale, nous avons
                                                    besoin de connaître votre région géographique, la vitesse de votre
                                                    connexion Internet, les jeux auxquels vous jouez, les données de
                                                    session ainsi que les informations du système comme votre CPU, votre
                                                    GPU et la mémoire de votre système. Si GeForce NOW est mis en œuvre
                                                    par un partenaire GeForce NOW Alliance, nous partagerons avec lui
                                                    avec certaines informations, telles que vos commentaires et des
                                                    informations relatives à la qualité et à l’utilisation que vous
                                                    faites du service, afin qu’il puisse optimiser le service auprès de
                                                    vous.</p>
                                                <p>Si vous acceptez de recevoir des recommandations, nous vous
                                                    proposerons des jeux qui pourraient vous plaire. Si vous acceptez de
                                                    partager des données techniques, NVIDIA collectera des informations
                                                    supplémentaires sur l’utilisation des fonctionnalités (comme vos
                                                    termes de recherche courants pour trouver plus rapidement le jeu que
                                                    vous cherchez) et des journaux d’erreur afin de nous aider à
                                                    améliorer la qualité de notre service.</p>
                                                <p>Vous pouvez définir vos préférences de confidentialité en vous
                                                    rendant dans le menu <a
                                                            href="https://www.nvidia.com/fr-fr/privacy-center/preferences/?v=1"
                                                            style="color: rgb(118,185,0);">Paramètres de
                                                        confidentialité</a>.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <div class="horizontaldividerline horizontaldividercline hdividerwraper">
                <div class="column-container horizontaldividerline horizontaldividercline background-ui-elements">
                </div>
            </div>

            <!-- Horizontal divider Line Ends here --></div>
        <br>
        <div class="sectionWrapper parbase section">


            <section class="background-body-copy p-t-60 p-b-45 tab-p-t-30 tab-p-b-30 mob-p-t-30 mob-p-b-15  ">
                <div id="sectionwrapper_113303db28419_f311_4411_80d2_aed61b7eb6de" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="shield"
                                         class="general-container-text    wid-default p-t-0 p-b-0             ">
                                        <div class="text-left tab-text-left mob-text-left">

<br>
                                            <h3 class="title color-brand-green " style="color: #76b900">SHIELD TV</h3>
<br>

                                            <div class="body-text description color-black">


                                                <p>SHIELD TV se connecte à votre téléviseur afin de diffuser en
                                                    streaming vos séries, vos films et vos jeux préférés.</p>
                                                <p>Pour exécuter et mettre à jour votre SHIELD, nous avons besoin de
                                                    connaître les numéros de version de votre logiciel, votre région
                                                    géographique et le numéro de série de votre appareil. Nous ne
                                                    conservons pas ces données après utilisation.</p>
                                                <p>Si vous utilisez l’application NVIDIA Jeux, nous avons besoin de
                                                    connaître votre région géographique, la vitesse de votre connexion
                                                    Internet, et le modèle de votre appareil. Pour permettre aux
                                                    services GeForce NOW ou GameStream de streamer vos jeux sur votre
                                                    machine avec les meilleures performances et une qualité optimale,
                                                    nous avons par ailleurs besoin de connaître les jeux auxquels vous
                                                    jouez, les données de session ainsi que les informations relatives à
                                                    votre système.</p>
                                                <p>Si vous acceptez de recevoir des recommandations, nous vous
                                                    proposerons des jeux, des applications et des récompenses qui
                                                    pourraient vous plaire. Si vous acceptez de partager des données
                                                    techniques via votre SHIELD TV ou l’application NVIDIA Jeux, vous
                                                    nous aiderez à repérer ou à corriger les bugs et à améliorer la
                                                    qualité du service. Ces données comprennent votre matériel, vos
                                                    logiciels (y compris leurs paramètres, leur utilisation et leurs
                                                    performances) ainsi que vos journaux d’erreur. Vous pouvez
                                                    configurer la collecte et l’utilisation de vos données depuis la
                                                    rubrique <a
                                                            href="https://www.nvidia.com/fr-fr/privacy-center/preferences?v=1"
                                                            style="color: rgb(118,185,0);">Paramètres de
                                                        confidentialité</a>.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <div class="horizontaldividerline horizontaldividercline hdividerwraper">
                <div class="column-container horizontaldividerline horizontaldividercline background-ui-elements">
                </div>
            </div>

            <!-- Horizontal divider Line Ends here --></div>
        <br>
        <div class="sectionWrapper parbase section">


            <section class="background-body-copy p-t-60 p-b-75 tab-p-t-30 tab-p-b-30 mob-p-t-30 mob-p-b-15  ">
                <div id="sectionwrapper_209571b88faf8_c793_404f_8029_6c8239413f7a" class="general-container ">


                    <div class="large-12 medium-12 small-12 center">


                        <div class="container">
                            <div class="page-section-par parsys">
                                <div class="textcomp section">


                                    <div id="developer"
                                         class="general-container-text    wid-default p-t-0 p-b-0             ">
                                        <div class="text-left tab-text-left mob-text-left">

<br>
                                            <h3 class="title color-brand-green " style="color: #76b900">NVIDIA DEVELOPER
                                                PROGRAM</h3>
                                            <br>

                                            <div class="body-text description color-black">


                                                <p>The NVIDIA Developer Program connects developers with tools to build
                                                    GPU-accelerated applications. When you participate in Developer
                                                    Program activities, NVIDIA collects information about your forums
                                                    contributions, bugs filed, files downloaded, training
                                                    completion/certification, and event registration. We do this to get
                                                    your feedback and improve our services.</p>
                                                <p>We request your email address to communicate product updates and bug
                                                    fixes. And, with your permission, NVIDIA will share news and
                                                    information about upcoming developer webinars and events that may be
                                                    of interest to you. You can change your Developer Program email
                                                    preferences <a
                                                            href="https://www.nvidia.com/en-us/preferences/have-account/"
                                                            style="color: rgb(118,185,0);">here</a>.</p>
                                                <p>We collect <a href="https://forums.developer.nvidia.com/"
                                                                 target="_blank">NVIDIA Developer Forums</a> usage
                                                    information, such as IP address, login history and interactions with
                                                    other users, in order to moderate spam and offensive content. NVIDIA
                                                    will also send you email notifications when, for example, another
                                                    user sends you a private direct message.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="textcomp section">


                                    <div id="developer"
                                         class="general-container-text    wid-default p-t-0 p-b-0             ">
                                        <div class="text-left tab-text-left mob-text-left">

                                            <br>
                                            <h3 class="title color-brand-green " style="color: #76b900">Programme NVIDIA
                                                Développeurs</h3>
<br>

                                            <div class="body-text description color-black">


                                                <p>Le programme NVIDIA Développeurs met à la disposition des
                                                    développeurs des outils qui leur permettent de concevoir des
                                                    applications accélérées par GPU. Lorsque vous participez aux
                                                    activités du programme Développeurs, NVIDIA collecte des
                                                    informations sur vos contributions sur les forums, les bugs
                                                    signalés, les fichiers téléchargés, le suivi/les certificats de
                                                    formation et l’inscription aux événements. Nous le faisons pour
                                                    recueillir votre avis et améliorer nos services.</p>
                                                <p>Nous demandons votre adresse e-mail pour communiquer sur les mises à
                                                    jour de produits et les corrections de bugs. Enfin, avec votre
                                                    permission, NVIDIA transmettra des actualités et des informations
                                                    sur les prochains événements et webinaires pour développeurs qui
                                                    pourraient vous intéresser. Vous pouvez changer <a
                                                            href="https://www.nvidia.com/fr-fr/preferences/have-account/"
                                                            style="color: rgb(118,185,0);">ici</a> vos préférences de
                                                    notification par e-mail relatives au programme Développeurs.</p>
                                                <p>Nous collectons des informations sur l’utilisation des <a
                                                            href="https://forums.developer.nvidia.com/?v=1"
                                                            style="color: rgb(118,185,0);" target="_blank">forums NVIDIA
                                                        Développeurs</a>, notamment l’adresse IP, l’historique des
                                                    connexions et les interactions avec les autres utilisateurs, afin de
                                                    modérer les publications indésirables et les contenus offensants.
                                                    NVIDIA vous enverra aussi des notifications par e-mail, par exemple
                                                    lorsqu'un autre utilisateur vous adresse un message privé.</p>

                                            </div>


                                            <div class="text-button">
                                                <div class="textCmpButton-par parsys">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </div>


                </div>
            </section>


            <!-- Horizontal divider Line Starts here -->

            <div class="horizontaldividerline horizontaldividercline hdividerwraper">
                <div class="column-container horizontaldividerline horizontaldividercline background-body-copy">
                </div>
            </div>

            <!-- Horizontal divider Line Ends here --></div>
        <br><br>
    </div>






{% endblock %}