{% extends 'base.html.twig' %}


{% block body %}

    <div class="title text-center">
        <h1 style="color:white"> Créer le produit</h1>
    </div>
    <div class="container mt-4 text-white ">
        {{ include ('home/produit-form.html.twig', {button: 'Créer'}) }}
    </div>
{% endblock %}
