{% extends 'base.html.twig' %}


{% block body %}

    <div class="title text-center bg-white">
       <div class="container techno">
            <h1>NVIDIA technologies</h1>

               <h2>Entreprise & Developper   </h2>
               <h2>Gaming   </h2>
               <h2>Architecture   </h2>
               <h2>Industry et technologies   </h2>

           <br>
           <br>

        <h3>CUDA (Developer)</h3>
          <p>NVIDIA CUDA® is a revolutionary parallel computing platform.
             As an enabling hardware and software technology,
             CUDA makes it possible to use the many computing
             cores in a graphics processor to perform general-purpose mathematical calculations,
             achieving dramatic speedups in computing performance.</p><br>

        <h3>IndeX</h3>
           <p>A commercial 3D volumetric visualization
               SDK that allows you to visualize and interact with massive data sets,in real time,
               and navigate to the most pertinent parts of the data. It leverages GPU clusters for scalable,
               real-time,visualization and computing of multi-valued volumetric data together with
               embedded geometry data.</p><br>

        <h3>Iray</h3>
           <p>A highly interactive and intuitive physically based rendering technology that
               generates photorealistic imagery by simulating the physical behavior of light and materials.</p><br>

        <h3>Material Definition Language (MDL)</h3>
           <p>
               NVIDIA Multi-GPU Technology (NVIDIA Maximus®) uses multiple professional graphics processing units (GPUs) to intelligently scale the performance of your application and dramatically speed up your workflow.
               This delivers significant business impact across industries such as manufacturing, media and entertainment, and energy exploration.
           </p><br>

        <h3>Multi-GPU</h3>
            <p>
                NVIDIA Multi-GPU Technology (NVIDIA Maximus®) uses multiple professional
                graphics processing units (GPUs) to intelligently scale the performance of your application
                and dramatically speed up your workflow. This delivers significant business impact
                across industries such as manufacturing, media and entertainment, and energy exploration.
            </p><br>

        <h3>NVAPI</h3>
           <p>
               NVIDIA's core SDK allows direct access to NVIDIA GPUs and drivers on windows platforms.
               NVAPI provides support for operations including access to multiple GPUs and displays.
           </p><br>

        <h3>NVLink</h3>
           <p>
               NVLink is a high-speed interconnect that replaces PCI Express to provide
               up to 12X faster data sharing between GPUs, or between the GPU and the CPU.
           </p><br>

        <h3>Optimus</h3>
           <p>
               Optimus technology intelligently optimizes your notebook PC,
               providing the outstanding graphics performance you need, when you need it,
               all while extending battery life for longer enjoyment.
           </p><br>

        <h3>OptiX Ray Tracing Engine (Developer)</h3>
           <p>
               An application framework for achieving optimal ray tracing performance on the GPU.
               It provides a simple, recursive, and flexible pipeline for accelerating ray tracing algorithms.
           </p><br>

        <h3>PhysX (Developer)</h3>
           <p>
               PhysX is a scalable multi-platform game physics solution supporting a wide range of devices,
               from smartphones to high-end multicore CPUs and GPUs.
               PhysX is already integrated into some of the most popular game engines,
               including Unreal Engine (versions 3 and 4), Unity3D, and Stingray.
           </p><br>

        <h3>PostWorks</h3>
           <p>
               A DX11 technology for PC that combines TXAA and Depth of Field (Bokeh) for post processing work.
           </p><br>

        <h3>RTX Real-Time Ray Tracing</h3>
           <p>
               The NVIDIA RTX platform fuses ray tracing, deep learning and rasterization to fundamentally
               transform the creative process for content creators and developers through
               the NVIDIA Turing GPU architecture and support for industry leading tools and APIs.
           </p><br>

        <h3>SceniX</h3>
           <p>
               An object-oriented programming library for creating cutting-edge, real-time 3D applications with a state of the art scene graph.
           </p><br>

        <h3>ShadowWorks</h3>
           <p>
               A collection of NVIDIA technolgies that provide cinematic quality shadows in real time.
           </p><br>

        <h3>SLI</h3>
           <p>
               SLI (Scalable Link Interface) is NVIDIA's solution for supporting multiple GPUs. Up to 4 GPUs can work together to create insanely detailed graphics at high framerates.
           </p><br>

        <h3>vGPU</h3>
           <p>
               The industry's most advanced technology for sharing the power of NVIDIA GPUs across virtual machines (VMs) and virtual applications.
           </p><br>

        <h3>3D Vision & Surround</h3>
           <p>
               3D Vision is NVIDIA's solution for stereoscopic 3D rendering.
               Surround is a solution for multi-monitor support.
           </p><br>
       </div>
    </div>
{% endblock %}
